* {
    padding:0;
    margin:0;
    /* background-color: lightgreen; */
}
body{
    background-color: lightgreen;
}
nav{
    display: flex;
    flex-wrap: wrap;
    padding:5px 10vw;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height:10vh;
    box-shadow: 0px 0px 2px 2px gray;
    position: sticky;
    top:0px;
    gap:20px
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    
}
#main{
    font-weight: bolder;
    font-size: 50px;
    font-family: Rubik, sans-serif;
    letter-spacing: -1px;
    color:blue;
    margin-bottom: 100px;
}
#quizdata{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    width: 90vw;
}
@media screen and (max-width: 760px)
{
    #main{
        font-weight: bolder;
        font-size: 25px;
        font-family: Rubik, sans-serif;
        letter-spacing: -1px;
        color:blue;
    }

}

#quiz, #sec{
    font-size: large;
    color: gray;
    height:250px;
    margin-right: 2px;
    overflow-y: auto;
    width:45vw;
}
#quiz{
    border-right: 1px solid lightgray;
    padding-top:30px;
    padding-left: 50px;
}
#sec{
    /* padding-top:30px; */
    padding-left: 50px;
    overflow-y: auto;
}
#attemptdata{
    background-color: lightgreen;
    width: 87vw;
    height:15vh;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 1px 1px lightgreen;
    margin:100px 0 25px 0;
    align-items: center;
}
#marks{
border-right: 1px solid gray;
display: flex;
justify-content: center;
align-items: center;
}
#marks, #attempt{
    /* margin-right: 10px; */
    font-size: large;
    color: gray;
    height:13vh;
    overflow-y: auto;
    width:42vw;
}
#attempt{
    padding-left:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:11px;
}
.secdata2{
    width:80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15vw;
    padding: 10vh 0;
}
.secdata{
    color:gray;
    font-size: large;
}
#pos,#neg,#ua{
    font-size: large;
}
#pos{
    color: blue;
}
#neg{
    color: red;
}
#ua{
    color:darkgray;
}
#marks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;
}
#mark,#max{
    font-size: x-large;
}
#acc,#time{
    font-size: x-large;
    width:38vw;
    margin:5px 0;
    padding:10px 35px;
}
#acc{
    border-right: 1px solid gray;
}
#acct{
    background-color: blue;
    width: 87vw;
    height:8vh;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 1px 1px blue;
    color:white;
    /* margin:100px 0 25px 0; */
}
#section{
    padding:80px 0 0 0;
    font-size: x-large;
    font-weight: bold;
    color:gray;
}
#lb{
    width:20vw;
    padding:20px 0;
    border: none;
    border-radius: 40px;
    background-color: lightgreen;
    font-size: large;
    font-weight: bold;
    margin:0vh 0 10vh 0;
    transition: all 0.3s;
}
#ques{
    width:20vw;
    padding:20px 0;
    border: none;
    border-radius: 40px;
    background-color: blue;
    font-size: large;
    color:white;
    font-weight: bold;
    margin:30vh 0 5vh 0;
    transition: all 0.3s;
}
#uv{
    margin:10px 0;
    font-size: larger;
    font-weight: bold;
    color:red;
    display: none;
}
#loader {
    display: none;
    position: absolute;
    top:50vh;
    left:50vw;
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}
#loaderback{
    display:none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    opacity:0.5;
}
#uv:hover{
    cursor: pointer;
    color:darkred;
}
#lb:hover{
    cursor:pointer;
    box-shadow: 0 0 4px 0 #7d7c83;
    transform: translate(0px,-1px);
    color: white;
    background-color: darkgreen;
}
#ques:hover{
    cursor:pointer;
    box-shadow: 0 0 4px 0 #7d7c83;
    transform: translate(0px,-1px);
    color: lightblue;
    background-color: darkblue;
}
ul li{
    padding-right: 40px;
    display: inline-block;
    font-weight: bold;
    background-color: white;
    transition: all 0.2s;
}
li:hover{
    color:orange;
    cursor:pointer;
}
@media screen and (max-width:760px){
    ul li{
        padding-right:10px;
        font-size: xx-small;
    }
}
main{
    background-color: white;
    width:90%;
    margin:1.389vh auto;
    padding:1.736vh 0.9765vw;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    /* background-color: #f6f6f6; */
}
#logo{
    width:50px;
    height:50px;
    border-radius: 8px;
    background-color: darkgreen;
}
footer{
    background-color: black;
    height: auto;
    padding-left:3%;
    padding-bottom: 1%;
    margin-top:5%;
    padding-top:1%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
#Cyberlabs{
    color:white;
    width:auto;
    height:auto;
}
#cl{
    padding:2%;
    font-weight: bold;
    font-size: x-large;
    color: white;
    
}
#name{
    font-size: large;
    padding-top:3%;
    color: white;
}
#mail{
    font-size: medium;
    padding-bottom: 3%;
    color: white;
}
#last{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#Cyberlabs{
    height:70px;
    width:70px;
}