body{
    /* background-color: #F4F4F6; */
    background-color: lightgreen;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5%;
}
#logo{
    width:300px;
    height:100px;
    object-fit: contain;
    border-radius: 8px;
}
#loader {
    display: none;
    position: absolute;
    top:50vh;
    left:50vw;
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}
#loaderback{
    display:none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    opacity:0.5;
}
main{
    background-color: white;
    width:40vw;
    height:60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding:2.5% 0%;
    border-radius: 20px;
    /* padding-top: 10%; */
}
#but1{
    border: none;
    background-color: lightgreen;
    font-weight: bolder;
    font-size: medium;
}
#but1:hover{
    cursor:pointer;
    color:blue;
}
#n1{
    font-weight: bold;
    font-size: large;
}
label{
    font-weight: bold;
}
/* form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
} */
input{
    background-color: #f6f6f6;
    border:none;
    height:25px;
    border-radius: 6px;
    width:120%;
}
#but2{
    background-color: black;
    color:white;
    font-weight: bold;
    width:120%;
    padding:8px;
    border:none;
    border-radius: 40px;
    box-shadow: 0px 0px 3px 0px black;
}
#but2:hover{
    cursor: pointer;
}
@media screen and (max-width:760px)
{
    #n1{
        font-weight: bold;
        font-size: x-small;
    }
    input{
        width: 80%;
    }
    #but2{
        width:80%;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main{
        width:80vw;  
    }
}
@media screen and (max-width:350px)
{
    #n1{
        
        font-size: xx-small;
    }
    h1{
        font-size:small;
    }
    main{
        width:90vw;  
    }
}