.section-container{
    background-color: bisque;
    border-radius: 40px;
    height:15vh;
    width:80vw;
    margin: 25px 0;
    text-align:center;
   font-weight: bold;
   font-size: xx-large;
   padding-top:7.5vh;
   transition: all 0.5s;
    
}
.section-container:hover{
    box-shadow: 0 0 4px 0 #7d7c83;
    transform: translate(0px,-1px);
    cursor: pointer;
    color:blue;
}
#loader {
    display: none;
    position: absolute;
    top:50vh;
    left:50vw;
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}
#loaderback{
    display:none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    opacity:0.5;
}