* {
    padding:0px;
    margin:0px;
}
body{
    background-color: lightgreen;
    font-family: Quicksand, sans-serif;
    padding:0;
    margin:0;
}
#user_profile{
    position: relative;
    left:5vw;
}
#loader {
    display: none;
    position: absolute;
    top:50vh;
    left:50vw;
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}
#loaderback{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    opacity:0.5;
}
nav{
    background-color: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    height:auto;
    width: 70%;
    padding:18px;
    justify-content: space-between;
    border-radius: 30px;
    align-items: center;
    margin:20px auto auto auto;
    position:sticky;
    top:18px;
    box-shadow: 0 0 4px 0 #7d7c83;
}
#logout {
    border:none;
    background-color: red;
    /* color:white; */
    font-weight: bold;
    border-radius: 20px;
    padding:0.8167vh 0.8734vw;
    /* padding:0.5167vh 0.4734vw; */
    transition: all 0.5s;
}
#bt2:hover{
    background-color: red;
    cursor: pointer;
    transform: translate(0px,-1px);
    padding:0.8167vh 0.8734vw;
    box-shadow: 0 0 4px 0 #7d7c83;
}
#logout:hover{
    background-color: red;
    cursor: pointer;
    transform: translate(0px,-1px);
    padding:0.8167vh 0.8734vw;
    box-shadow: 0 0 4px 0 #7d7c83;
}
#profile_pic{
    display:none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit:fill;
    margin:10px 25px;
}
#upload{
    display: none;
    width:250px;
    padding:7px 10px;
    font-weight: bold;
    border-radius: 40px;
    border:none;
    background-color: blue;
    color:white;
    margin:20px 0;
    transition: all 0.5s;
}
#upload:hover{
    background-color: blue;
    cursor: pointer;
    transform: translate(0px,-1px);
    box-shadow: 0 0 4px 0 #7d7c83;
}
#bt1:hover{
    background-color: red;
    cursor: pointer;
    transform: translate(0px,-1px);
    padding:0.8167vh 0.8734vw;
    box-shadow: 0 0 4px 0 #7d7c83;
}
#back:hover{
    background-color: red;
    cursor: pointer;
    transform: translate(0px,-1px);
    padding:0.8167vh 0.8734vw;
    box-shadow: 0 0 4px 0 #7d7c83;
}
#h{
    display: flex;
    justify-content: center;
}
#history{
    background-color: bisque;
    border-radius: 40px;
    height:15vh;
    width:80%;
    margin: 25px 0;
    text-align:center;
   font-weight: bold;
   font-size: xx-large;
   padding-top:7.5vh;
   transition: all 0.5s;
    
}
#history:hover{
    box-shadow: 0 0 4px 0 #7d7c83;
    cursor: pointer;
    transform: translate(0px,-1px);
    color:blue;
}
@media screen and (max-width: 760px)
{
    #createquiz{
        font-size: large;
    }

}
main{
    background-color: white;
    width:60%;
    margin: auto auto 1.389vh auto;
    padding:2.736vh 0.9765vw;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height:auto;
    /* box-shadow: 0 0 4px 0 #7d7c83; */
    /* background-color: #f6f6f6; */
}
#at{
    width:60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#attempt{
    font-size: x-large;
    font-weight: bold;
    color: goldenrod;
    margin:10px;
}
#named{
    padding:5px 10px;
    font-weight: bolder;
    font-size: x-large;
}
#email,#pass{
    padding-left: 10px;
    font-size: small;
    color: lightgray;
}
#buto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
#bt1,#bt2,#back{
    padding:5px;
    margin:0 20px;
    border: none;
    border-radius: 40px;
    background-color: red;
    font-weight: bold;
    transition: all 0.5s;
}
footer{
    background-color: black;
    height: auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left:3%;
    padding-bottom: 1%;
    margin-top:5%;
    padding-top:1%;
}
#Cyberlabs{
    color:white;
    width:auto;
    height:auto;
}
#cl{
    padding:2%;
    font-weight: bold;
    font-size: x-large;
    color: white;
    
}
#name{
    font-size: large;
    padding-top:3%;
    color: white;
}
#mail{
    font-size: medium;
    padding-bottom: 3%;
    color: white;
}
#last{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#Cyberlabs{
    height:70px;
    width:70px;
}